# dependencies
node_modules/

# development
.next/
.vscode/
.idea/
node_modules/
.vercel

# production
dist/
build/

# Logs
*.log

# ENV files and Config
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.patreon-credentials.json